
body {
    background-color: #f0f8ff; /* (Свій власний колір фону) */
    color: #333333; /* (Свій власний колір тексту) */
    font-family: Arial, sans-serif;
}

h1.centered {
    text-align: center;
    color: #0056b3; /* Додатковий колір для краси */
}

a:link {
    color: #008000; /* (Зелений) */
}

/* - Встановити свій власний колір відвіданого гіперпосилання */
a:visited {
    color: #800080; /* (Фіолетовий) */
}

/* - Встановити свій власний колір гіперпосилання при наведенні */
a:hover {
    color: #ff4500; /* (Червоно-оранжевий) */
    text-decoration: underline;
}